<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
</head>
<style>
    .HELLO{
        margin:0 auto;
        width:30%;

    }
</style>
<body>
<div class="box has-text-centered HELLO">
<br><h1>Sign Up</h1><br>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <br>
            <input class="button is-link" type="submit" value="sign up" >

        </form>
<br>
<a class="button is-link" href="{% url 'login' %}">log in</a>

</div>
</body>
</html>