<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>IPL</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
</head>

<script>
    function change_year() {
        let year = document.getElementById('Year').value;
        window.location.replace('http://127.0.0.1:8000/summary/'+year.toString()+'/');
    }
</script>

<body>


<select id="Year" onchange="change_year()">
    {% for y in range %}
  <option selected>{{ y }}</option>
    {% endfor %}
</select>

<table class="table" border=0 style="width:100%">
<tr>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Venue</th>
    <th>Winner</th>
    <th>Player of the Match</th>
</tr>

    {% for match in k %}
    <tr>
    <td>{{ match.team1 }}</td>
    <td>{{ match.team2 }}</td>
    <td>{{ match.venue }}</td>
    <td>{{ match.winner }}</td>
    <td>{{ match.player_of_match }}</td>
        <td><a href="http://127.0.0.1:8000/summary/{{match.season}}/{{match.id}}/login/">Details</a></td>
    </tr>
    {% endfor %}

</table>

<div class="pagination">
    <span class="step-links">
        {% if k.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ k.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ k.number }} of {{ k.paginator.num_pages }}.
        </span>

        {% if k.has_next %}
            <a href="?page={{ k.next_page_number }}">next</a>
            <a href="?page={{ k.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>